<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:darkcyan">
    <a class="navbar-brand" href="{% url 'index' %}">Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a style="color:whitesmoke; text-decoration: none" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Locations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for location in locations %}
              <a class="dropdown-item" href="{% url 'displayLocation' location.id%}">{{location.name}}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_category' %}">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Category" aria-label="Search" name='category'>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</body>

</html> -->
<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="background-color:dimgray">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  class="navbar-brand" href="{% url 'index' %}" style="color:whitesmoke">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:dimgray"> 
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:whitesmoke">Locations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for location in locations %}
             <li><a class="dropdown-item" href="{% url 'displayLocation' location.id%}">{{location.name}}</a></li> 
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left" role="search" action="{% url 'search_category' %}">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Category" aria-label="Search" name='category'>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </li>
    </ul>
    </div>
  </div>
